* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: #F8F9FA;
    margin: 0;
    font-family: "Work Sans";
}

.header {
    display: grid;
    grid-area: header;
    background-color: white;
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
    grid-template-areas: 
    ". header-content .";
    align-items: center;
}

.header-content {
    grid-area: header-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    flex: 2 1 auto;
}

a.nav-home {
    width: 100%;
    flex: 0 0 3.75rem;
}

.yc-logo {
    max-width: 60px;
    margin: .5rem 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.nav-item {
    text-decoration: none;
    color: #111;
    margin: 0 2rem 0 0;
}

.button {
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-align: center;
}

.nav-inschrijven,.nav-inloggen {
    padding: .8rem 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    margin: .3rem;
    letter-spacing: .05rem;
}

.nav-inschrijven {
    background-color: #F77F00;
}

.nav-inloggen {
    background-color: #111;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
    grid-template-areas: 
    "search-job search-job search-job"
    ". aan-de-slag-bij ."
    ". wwjw-dienstverband ."
    ". content ."
    "vacatures vacatures vacatures";
}

.title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
}

.search-job {
    grid-area: search-job;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
    grid-template-areas: 
    "banner banner banner"
    ". banner-title-1 ."
    ". banner-title-2 ."
    ". search-panel .";
}

.banner-container-1 {
    grid-area: banner;
    height: 25rem;
    overflow: hidden;
}

.banner {
    min-width: 100%;
}

.banner-title-1 {
    grid-area: banner-title-1;
    font-size: 2.5rem;
    margin-top: -16rem;
}

.banner-title-2 {
    grid-area: banner-title-2;
    font-size: 2.5rem;
    margin-top: -5.2em;
}

.h1-white {
    padding: 0.8rem;
    color: white;
    padding: 0.3rem 1rem;
    background-color: #111;
    font-weight: 800;
}

.h1-orange {
    color: #F77F00;
}

.search-panel {
    background-color: #111;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-column-gap: 1.8rem;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-height: 10rem;
    margin-top: -5rem;
}

.sp-title {
    color: white;
    font-weight: 700;
}

.input-location {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.input-trefwoord {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-top: 0.7rem;
    font-size: 1rem;
    color: #292929;
    font-family: "Work Sans";
}

.vacatures-zoeken {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 5rem;
    margin-top: 1rem;
}

.vacatures-zoeken p {
    color: white;
    margin: 0 0 1rem 0;
}

.button-vacatures {
    height: 3rem;
    width: 100%;
    background-color: #F77F00;
    text-align: center;
    letter-spacing: .05rem;
    font-weight: 700;
}

.search-panel {
    grid-area: search-panel;
}

.aan-de-slag-bij {
    grid-area: aan-de-slag-bij;
    background-color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1); 
}

.adsb-top {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    padding: 2rem;
}

.adsb-bottom {
    text-align: center;
}

.company-logos {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.company-logos li {
    flex: 1 1 auto;
    margin: 3rem 1rem;
}

.logo img {
    height: 3rem;
}

.adsb-bottom p {
    margin-bottom: 2.5rem;
}

.body-anchor {
        text-decoration: underline;
        font-weight: 600;
        color: #111;
}

.wwjw-dienstverband {
    grid-area: wwjw-dienstverband;
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.wwjw {
    flex: 1 1 22.5rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.wwjw .title {
    font-size: 1.5rem;
}

.wwjw-nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0;
}

.wwjw-nav li {
    margin: .5rem 0 0.8rem 0;
}

.nav-item-wwjw {
    padding: .5rem 1rem;
    background-color: #111;
    color: white;
    text-decoration: none;
    margin: 0 .6rem 0 0;
    font-size: .8rem;
    letter-spacing: .05rem;
}

.vacatures-wwjw {
    color: #111;
    font-weight: 700;
    margin: 0 0 .7rem 0;
}
.dienstverband {
    flex: 1 1 22.5rem;
    margin-right: 2rem;
}

.dienstverband .title {
    font-size: 1.5rem;
}

.content {
    grid-area: content;
    display: grid;
    grid-column-gap: 1.8rem;
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    margin-top: 5rem;
}

.img-container {
    width: 100%;
    height: 12rem;
    overflow: hidden;
}

.article-img {
    width: 100%;
}

.article {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.article-title {
    margin: 2.2rem 1.5rem 0 1.5rem;
}

.article-body {
    margin: 1rem 1.5rem 1.7rem 1.5rem;
    line-height: 1.5rem;
}

.article-button-orange {
    background-color: #F77F00;
    width: calc(100%-3rem);
    margin: 1.5rem;
}

.article-button-black {
    background-color: #111;
    width: calc(100%-3rem);
    margin: 1.5rem;
}

.vacatures {
    grid-area: vacatures;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
    grid-template-areas:
    "banner2 banner2 banner2"
    ". vacatures-block ."; 
    text-align: center;
}

.banner-container-2 {
    grid-area: banner2;
    height: 30rem;
    overflow: hidden;
    margin-top: 6rem;
}

.vacatures-img {
    grid-area: vacatures-img;
    min-width: 100%;
    margin-top: -3rem;
}

.vacatures-block {
    grid-area: vacatures-block;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 24rem;
    margin-top: -12rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1); 
    align-items: center;
}

.vacatures-top {
    border-bottom: 1px solid #e8e8e8;
    padding: 2rem;
}

.nav-vacatures {
    display: flex;
    list-style-type: none;
    margin-top: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    justify-content: flex-start;
} 

.nav-vacatures li {
    margin: 0;
    padding: 0;
}

.nav-link-vac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    color: black;
    width: 10rem;
    height: 9rem;
    margin: 0 .5rem;
}

.vac-img {
    margin-bottom: 1rem;
}

.vacatures-block p {
    margin-bottom: 2rem;
}

.footer {
    grid-area: footer;
    background-color: #292929;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
    grid-template-areas: 
    ". footer-content .";
}

.footer-content {
    grid-area: footer-content;
    display: flex;
    margin-top: 3rem;
}

.footer-nav {
    flex: 1 1 auto;
}

.footer-title {
    color: white;
    font-weight: 600;
    letter-spacing: .05rem;
}

.footer-nav-list {
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0;
}

.footer-nav-list li {
    margin: 1.2rem 0;
}

.footer-nav-item {
    color: white;
    text-decoration: none;
    letter-spacing: .05rem;
    font-weight: 300;
}

@media only screen and (max-width: 1050px) {

    .banner-title-1, .banner-title-2 {
        display: none;
    }
}